html,body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}







/*
*
*   LINK CONTAINER
*
*/
.links_container{
    font-family: 'Roboto', sans-serif;
    min-width: 400px;
    max-width: 550px;
    position: relative;
    padding: 50px 20px;
}

.links_container .bar{
    height: 100%;
    width: 3px;
    background: white;
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 0;
}

.links_container .link_item{
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 20px;
    background: white;
    display: flex;
    transition: .2s;
    z-index: 3;
    position: relative;
    letter-spacing: 2px;
}

.links_container .link_item.name{
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: 900;
}

.links_container .link_icon{
    color: black;
    margin-right: 30px;
    color: rgb(201, 136, 136);
}

a:link{ color: black; }
a:visited{ color: black; }
a:hover{ color: black; }
a:active{ color: black; }

.links_container .link_item:hover{
    transform: scale(1.1);
    font-size: 110%;
}

.links_container .link_item .link_icon{
    padding-right: 10px;
}







/*
*
*   HEADER
*
*/
.header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/images/bg-1.jpg');
    background-size: cover;
}


.row{
    padding: 10px;
}
.collink{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col img{
    width: 100%;
    border-radius: 50%;
    max-width: 500px;
}


*{
    box-sizing: border-box;
}